<?xml version="1.0" ?>
<robot name="partnet_be98fd37940b298f30434f41561ebdcf-2">
	<link name="base"/>
	<link name="link_0">
		<visual name="wheel-1">
			<origin xyz="0.003139350590944839 0.7139035118353272 0.27252475216497385"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.003139350590944839 0.7139035118353272 0.27252475216497385"/>
			<geometry>
				<mesh filename="textured_objs/original-10.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="continuous">
		<origin xyz="-0.003139350590944839 -0.7139035118353272 -0.27252475216497385"/>
		<axis xyz="-0.9999337337603303 2.5419304194373795e-06 0.011512084158125949"/>
		<child link="link_0"/>
		<parent link="link_3"/>
	</joint>
	<link name="link_1">
		<visual name="wheel-2">
			<origin xyz="0.003127657457991523 0.7138983637973899 0.27252334378601667"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.003127657457991523 0.7138983637973899 0.27252334378601667"/>
			<geometry>
				<mesh filename="textured_objs/original-11.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_1" type="continuous">
		<origin xyz="-0.003127657457991523 -0.7138983637973899 -0.27252334378601667"/>
		<axis xyz="-0.9999336881778376 -1.532120139480752e-05 0.01151603283809203"/>
		<child link="link_1"/>
		<parent link="link_3"/>
	</joint>
	<link name="link_2">
		<visual name="lid-3">
			<origin xyz="0.3436974783332585 -0.6538255892391317 0.5726579543311202"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<visual name="lid-3">
			<origin xyz="0.3436974783332585 -0.6538255892391317 0.5726579543311202"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="lid-3">
			<origin xyz="0.3436974783332585 -0.6538255892391317 0.5726579543311202"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.3436974783332585 -0.6538255892391317 0.5726579543311202"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3436974783332585 -0.6538255892391317 0.5726579543311202"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.3436974783332585 -0.6538255892391317 0.5726579543311202"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="revolute">
		<origin xyz="-0.3436974783332585 0.6538255892391317 -0.5726579543311202"/>
		<axis xyz="-1 0 0"/>
		<child link="link_2"/>
		<parent link="link_3"/>
		<limit lower="-0.0" upper="4.71238898038469"/>
	</joint>
	<link name="link_3">
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</visual>
		<!-- <collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>-->
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision> 
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-13.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-12.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-14.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_3" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_3"/>
		<parent link="base"/>
	</joint>
</robot>
